@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Navbar Section */
.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 65px;
    background-color: #666666;
}
.logo{
    width: 150px;
    height: 50px;
    color: white;
    font-size: 34px;
    margin-top: 10px;
    margin-left: 80px;
}
.search{
    width: 230px;
    height: 27px;
    display: flex;
    position: relative;
}
.input{
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border: none;
    padding-left: 34px;
    border-radius: 5px;
}
.search-btn{
    position: absolute;
    color: rgb(141, 139, 139);
    background-color: white;
    border: none;
    top: 6px;
    left: 10px;
}
.nav-items1 {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;  
    margin-left: 420px;
}
#items ul{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    color: white;
}
#items ul li{
    position: relative;
    display: inline-block;
    list-style: none;
    font-size: 20px;
    font-weight: 700;
    margin: 0 16px;
}
#items ul li a{
    text-decoration: none;
    color: white;
}
#items ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
#items ul li:hover::after{
    width: 100%;
}
.btn{
    width: 80px;
    height: 30px;
    background-color: #525CEB;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 8px;
}
.btn a{
    text-decoration: none;
    color: white;
}

/* Cover-Profile */
.cover-profile{
    width: 100%;
    object-fit: cover;
    margin-left: -23px;  
}

/* Profile-Section */
.candidate-profile{
    width: 800px;
    margin-left: 360px;
    position: relative;
}
.profile-head{
    display: flex;
    align-items: center;
    gap: 50px;
}
.profile-head pre{
    margin-left: 260px;
    font-size: 15px;
    font-weight: 600;
    color: #525CEB;
}
.profile-head span{
    font-size: 13px;
    font-weight: 400;
    color: #525CEB;
}
.profile-head img{
    position: absolute;
    top: -120px;
    left: -220px;
}
.profile-head p{
    font-size: 36px;
    font-weight: bold;
    margin-top: 5px;
    color: #343434;
}
.about-profile{
    margin-top: 80px;
    line-height: 40px;
}
#details-media-logo{
    display: flex;
    align-items: center;
    gap: 14px;
}
#details-media-logo p{
    font-size: 13px;
    color: #262626;
}
#details-media-logo button{
    width: 80px;
    height: 28px;
    border: 1px solid #0070D7;
    background-color: white;
    border-radius: 5px;
    margin-left: 280px;
    margin-top: -5px;
}
#details-media-logo button a{
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    color: #0070D7;
}
.person-resume{
    margin-left: 360px;
    margin-top: 80px;
    margin-bottom: 50px;
}
#resume-head{
    font-size: 24px;
    font-weight: 600;
    color: #343434;
}
.person-resume button{
    width: 640px;
    height: 40px;
    border: 1px solid #BEBEBE;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
}
.person-resume button a{
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    color: #0070D7;
}
.person-resume pre{
    margin-top: 15px;
    font-size: 18px;
    margin-left: 300px;
}
#resume-info{
    margin-top: 15px;
    font-size: 13px;
    color: #636363;
}

/* Footer Section */
.footer{
    width: 100%;
    height: 360px;
    margin-top: 160px;
    flex-wrap: wrap;
    background-color: #3D3B40;
}
.footer-fields{
    margin: 0 80px;
    display: flex;
}
.footer-right{
    width: 320px;
    height: 150px;
    margin-top: 50px;
    margin-left: 20px;
    color: white;
    font-family: 'Sofia Sans', sans-serif;
}
#footer-logo{
    display: flex;
    align-items: center;
    gap: 40px;
}
#footer-logo-head{
    object-fit: cover;
}
.footer-right p{
    margin-top: 30px;
    font-size: 12px;
    font-weight: 400;
}
.line1{
    width: 250px;
    margin-top: 40px;
}
.footer-left{
    width: 670px;
    margin-top: 95px;
    margin-left: 60px;
    color: white;
}
.left-head{
    display: flex;
    justify-content: space-between;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 12px;
}
.left-head-info{
    width: 800px;
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    gap: 165px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
#about-left-head-info{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.left-head-info2{
    margin-top: -20px;
    margin-left: 30px;
}
#address{
    margin-top: 15px;
    line-height: 20px;
}
.footer-media{
    margin: 0 80px;
    display: flex;
}
.line2{
    width: 1130px;
    margin: 30px 100px;
}
.social-media{
    width: 1140px;
    display: flex;
    justify-content: space-between;
}
#media-logos{
    margin-top: -14px;
    margin-left: 20px;
}
#media-logos img{
    padding-left: 10px;
}
.footer-privacy{
    display: flex;
    gap: 25px;
    margin-top: -10px;
}
.footer-privacy #terms-policy{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
#gap-break{
    color: white;
    margin-top: -3px;
}


@media screen and (max-width:768px) {
    body{
        width: 768px;
    }
    .navbar {
        width: 768px;
    }
    .logo{
        margin-left: 30px;
        margin-top: 8px;
    }
    .search{
        width: 200px;
        left: -40px;
    }
    .nav-items1 {
        display: flex;
        gap: 5px;
        margin-left: -20px;
    }
    #items ul li{
        font-size: 20px;
    }

    .cover-profile img{
        width: 103%; 
    }
    .profile-head{
        display: flex;
        gap: 5px;
    }
    .candidate-profile{
        width: 500px;
        margin-left: 185px;
    }
    .profile-head pre{
        margin-left: 180px;
        font-size: 14px;
    }
    .profile-head span{
        font-size: 12px;
    }
    .profile-head img {
        width: 167px;
        top: -94px;
        left: -160px;
    }
    .profile-head p{
        font-size: 28px;
    }
    #details-media-logo p{
        font-size: 11px;
        color: #262626;
    }
    #details-media-logo button{
        margin-left: 130px;
    }
    .person-resume{
        margin-left: 185px;
    }
    #resume-head{
        font-size: 22px;
    }
    .person-resume button{
        width: 450px;
    }
    .person-resume pre{
        margin-left: 240px;
    }
    #resume-info {
        width: 500px;
    }

    /* Footer */
    .footer{
        width: 768px;
        height: 330px;
        margin-top: 180px;
    }
    .footer-fields{
        margin: 0 20px;
    }
    .footer-right{
        width: 220px;
        margin-top: 30px;
        margin-left: 10px;
    }
    #footer-logo{
        display: flex;
        gap: 20px;
    }
    .footer-right p{
        margin-top: 30px;
        font-size: 10px;
    }
    .line1{
        width: 220px;
        margin-top: 40px;
    }
    .footer-left{
        width: 380px;
        margin-top: 60px;
        margin-left: 40px;
    }
    .left-head{
        font-size: 12px;
    }
    .left-head-info{
        width: 470px;
        gap: 50px;
        font-size: 10px;
    }
    .left-head-info2{
        margin-left: 20px;
    }
    .footer-media{
        margin: 0 40px;
    }
    .line2{
        width: 700px;
        margin: 30px 30px;
    }
    #media-logos{
        margin-left: -15px;
    }
    #media-logos img{
        padding-left: 12px;
    }
    .footer-privacy{
        display: flex;
        gap: 20px;
        margin-left: -20px;
    }
}


/* @media screen and (max-width:320px) {

    .cover-profile img {
        width: 247%;
    }
    .profile-head img {
        width: 167px;
        top: -94px;
        left: -160px;
    }
    .candidate-profile {
        margin-left: 185px;
    }
    .person-resume{
        margin-left: 185px;
    }
} */

@media screen and (min-width:769px) and (max-width:1315px) {

    body{
        width: 1330px;
    }
    .navbar {
        width: 1343px;
    }
    .footer{
        width: 1343px;
        height: 380px;
    }
    .footer-fields{
        margin: 0 80px;
    }
    .footer-right{
        width: 320px;
        height: 150px;
        margin-top: 50px;
        margin-left: 20px;
    }
    .footer-right p{
        font-size: 15px;
    }
    .left-head{
        font-size: 18px;
    }
    .footer-privacy #terms-policy{
        font-size: 14px;
    }
    #gap-break{
        color: white;
        margin-top: -3px;
    }
}